@(usuario: Usuario, equipo: Equipo, usuarios: List[Usuario])
@navbar("Detalle de equipo", Html(""), usuario) {
    <div class="container-fluid">

        <h1>Detalle del equipo @equipo.getNombre()</h1>
        <ul>
            <div class="row mt-3">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Miembros del equipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(usu <- usuarios) {
                                <tr>
                                    <td>@usu.getNombre()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
}
